<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Add Event</h5>
            <p class="card-text">Create a new event to manage in the system.</p>
            <button class="btn btn-primary" (click)="navigateToAddEvent()">Go to Add Event</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Events List</h5>
            <p class="card-text">View and manage all the events in the system.</p>
            <button class="btn btn-primary" (click)="navigateToEventsList()">Go to Events List</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Registered Users</h5>
            <p class="card-text">View the list of users who have registered for events.</p>
            <button class="btn btn-primary" (click)="navigateToRegisteredUsersList()">Go to Registered Users List</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  